<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-3">
        <ul class="list-unstyled">
          <li><a href="{{ site.baseurl }}">Home</a></li>
          <li><a href="{{ site.baseurl }}/CHANGELOG.html">CHANGELOG</a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li><a href="{{ site.github.repository_url }}">Repository</a></li>
          <li><a href="{{ site.github.issues_url }}">Issues</a></li>
          <li><a href="{{ site.github.wiki_url }}">Wiki</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
